extends _index

block meta
    meta(charset='utf-8')
    meta(name='viewport'
        content='width-device-width'
        user-scalable='no'
        initional-scale='1.0'
        maximum-scale='1.0'
        minimum-scale='1.0')

block link

block title
    title #{htmlWebpackPlugin.options.title}

block colors & type
    .app-wrapper
        .emblem
            img.emblem__img(src=require('../../img/Emblem.svg'))
        include includes/Colors & Type

block form elements
    include includes/Form elements

block cards
    //.emblem
    //    img.emblem__img(src=require('../../img/Emblem.svg'))
    //include includes/Cards

block headers & footers
    //.emblem
    //    img.emblem__img(src=require('../../img/Emblem.svg'))
    //include includes/Headers & Footers


