extends _index

block meta
    meta(charset='utf-8')
    meta(name='viewport'
        content='width-device-width'
        user-scalable='no'
        initional-scale='1.0'
        maximum-scale='1.0'
        minimum-scale='1.0')

block link

block title
    title #{htmlWebpackPlugin.options.title}

block headers & footers
    include includes/Headers & Footers

block cards
    include includes/Cards

block form elements
    include includes/Form elements

block colors & type
    include includes/Colors & Type


