extends __index

block meta
    meta(charset='utf-8')
    meta(name='viewport'
        content='width-device-width'
        user-scalable='no'
        initional-scale='1.0'
        maximum-scale='1.0'
        minimum-scale='1.0')

block link

block title
    title #{htmlWebpackPlugin.options.title}

block headers & footers


block cards
    h1 Какой-то контент
    div
        img(src=require('../../img/D0Q0VM0X4AAhf6o.jpg'))

block form elements

block colors & type


