extends _index

block meta
    meta(charset='utf-8')
    meta(name='viewport'
        content='width-device-width'
        user-scalable='no'
        initional-scale='1.0'
        maximum-scale='1.0'
        minimum-scale='1.0')

block link

block title
    title #{htmlWebpackPlugin.options.title}

block headers & footers
    .emblem(style={"position": "absolute", "left": "30px", "top": "30px"})
        img.emblem__img(src=require('../../img/Emblem.svg'))
    include includes/Headers & Footers

block cards
    .emblem(style={"position": "relative", "left": "30px", "top": "30px"})
        img.emblem__img(src=require('../../img/Emblem.svg'))
    include includes/Cards

block form elements
    include includes/Form elements

block colors & type
    include includes/Colors & Type


