include ../mixins/_inputs
include ../mixins/_interact

mixin Selection(title, dateBtn, iconBtn)
    .selection
        h1.selection__title #{title}
        each listDateBtn in dateBtn
            +SelectWithLabel(
                listDateBtn.label,
                listDateBtn.state,
                listDateBtn.text,
                listDateBtn.width
            )
        +ButtonWithIcon(iconBtn.context, iconBtn.href)

mixin Reservation(infoCard, dateBtn, descriptionCard, iconBtn)
    .reservation
        div.reservation__number!= `№ <span class="reservation__number_price">${infoCard.number}</span>&nbsp&nbsp<span class="reservation__number_class">${infoCard.type}</span>`
        div.reservation__pricing
            span.reservation__pricing_value!= `<span class="reservation__value">${infoCard.price}</span>₽`
            span.reservation__pricing_term #{infoCard.term}
        each listDateBtn in dateBtn
            +SelectWithLabel(
                listDateBtn.label,
                listDateBtn.state,
                listDateBtn.text,
                listDateBtn.width
            )
        div.reservation__description
            span.reservation__description_text!= `<span class="reservation__value">${infoCard.price}</span>₽ х ${descriptionCard.days} суток`
            span.reservation__description_value!= `<span class="reservation__value">${infoCard.price * descriptionCard.days}</span>₽`
            span.reservation__description_text!= `Сбор за услуги: скидка <span class="reservation__value">${descriptionCard.sale}</span>₽`
            span.reservation__description_value 0₽
            span.reservation__description_text!= 'Сбор за дополнительные\nуслуги'
            span.reservation__description_value!= `<span class="reservation__value">${descriptionCard.additional}</span>₽`
        div.reservation__result
            span.reservation__result_context Итого
            span.reservation__result_price!= `<span class="reservation__value">${(infoCard.price * descriptionCard.days) - descriptionCard.sale + descriptionCard.additional}</span>₽`
        +ButtonWithIcon(iconBtn.context, iconBtn.href)

mixin Calendar(month, week, days, buttons)
    .calendar
        .calendar__wrapper.calendar__wrapper_month
            h2.calendar__month #{month}
        .calendar__wrapper.calendar__wrapper_week
            nav.calendar__week
                each listWeek, index in week
                    li.calendar__week_item(class=`calendar__week_item_${index}`) #{listWeek}
        .calendar__wrapper.calendar__wrapper_days
            ul.calendar__days
                each listDays, index in days
                    li.calendar__days_item(class=`calendar__days_item_${index}`) #{listDays}
        .calendar__wrapper.calendar__wrapper_btn
            each listButtons in buttons
                +ButtonLink(listButtons.context, listButtons.href, listButtons.index)

mixin Registration()
    .registration
        h2.registration__title
        +Input(placeholder, text, width)