mixin ColorName(color, title, index)
    .colors__wrapper
        .colors__square(class=`colors__square_${color} colors__square_${color}_${index}`)
        p.colors__desc
            span.colors__title= title
            span.colors__subtitle= `#${color}`