mixin Input(placeholder, text, width)
    .text-field__wrapper(class=width)
        input.text-field__input(placeholder=`${placeholder}` value=`${text}`)

mixin Select(text, width)
    .text-field__wrapper(class=width)
        div.text-field__dropdown_field= text
        span.text-field__dropdown_icon.icon-down-open

mixin Subscription(placeholder, text, width)
    .text-field__wrapper(class=width)
        input.text-field__input(placeholder=`${placeholder}`)
        span.text-field__btn.icon-right

mixin InputWithLabel(label, state, placeholder, text, width)
    .text-field(class=width)
        label.text-field__label= label
        if state !== ''
            span.text-field__state= state
        +Input(placeholder, text, width)

mixin SelectWithLabel(label, state, text, width)
    .text-field(class=width)
        label.text-field__label= label
        if state !== ''
            span.text-field__state= state
        +Select(text, width)

mixin SubscriptionWithLabel(label, state, placeholder, width)
    .text-field(class=width)
        label.text-field__label= label
        if state !== ''
            span.text-field__state= state
        +Subscription(placeholder, width)