mixin Range(label, state)
    label.range__label= label
    span.range__state= state
    .range__wrapper
       .range__input
           .range__thumb.range__thumb_left
           .range__middle
           .range__thumb.range__thumb_right

mixin Button-click(context, border, state)
    if (border === '')
        button.buttons-click__btn(class=`buttons-click__btn_${state}`)= context
    else if (border === 'border')
        button.buttons-click__btn(class=`buttons-click__btn_${state} buttons-click__btn_${border}`)= context

mixin Button-link(context, href)
    a.buttons-link__link(href=`${href}`)= context