mixin TypeList(tag, text, fontSize)
    .type__wrapper
        p.type__index(style={'font-size':`${fontSize}`})= tag
        if tag === 'H1'
            h1.type__text= text
        else if tag === 'H2'
            h2.type__text= text
        else if tag === 'H3'
            h3.type__text= text
        else if tag === 'Body'
            p.type__text= text